.container {
    display: flex;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: grey;
}

.grid div {
    width: 20px;
    flex-basis: 20px;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    background-color: grey;
}

.mini-grid div {
    flex-basis: 20px;
    width: 20px;
}